flask
gunicorn
Flask-SocketIO>=5.3,<6
simple-websocket>=1.0,<2
pandas
openpyxl
fpdf2
beautifulsoup4
python-dateutil
pdfkit
yagmail
hashids
holidays>=0.45,<1.0
cryptography
Pillow
opencv-python-headless
PyPDF2
xlsxwriter
